<!DOCTYPE html>
<html>
<form action="/login" method="post">
    First name:<br>
    <input type="text" name="firstName">
    <br>
    Age:<br>
    <input type="text" name="age">
    <br>
    Favorite SoftDes Ninja:<br>
    <input type="text" name="favoriteNinja">
    <br><br>
    <input type="submit" value="Submit">
</form> 

<p>I could put a bit of effort in and do css. Could even just download a nice looking bootstrap
template. But like, no. I have used flask before but in the context of hacking
together other people's code so it's nice to actually know how to use it somewhat. 10/10 toolbox.</p>
</html>
